@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroy/gilroy-medium.eot");
  src: url("../fonts/gilroy/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/gilroy-medium.woff") format("woff"), url("../fonts/gilroy/gilroy-medium.ttf") format("truetype"), url("../fonts/gilroy/gilroy-medium.svg#giroy") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroy/gilroy-bold.eot");
  src: url("../fonts/gilroy/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/gilroy-bold.woff") format("woff"), url("../fonts/gilroy/gilroy-bold.ttf") format("truetype"), url("../fonts/gilroy/gilroy-bold.svg#giroy") format("svg");
  font-style: normal;
  font-weight: bold;
}
body {
  background: url(../images/bg.png) center top/cover no-repeat;
  font-family: gilroy;
}

.burger {
  opacity: 0;
  z-index: -1;
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  padding: 20px 0;
  transition: all 0.2s ease;
}

.burger {
  background-color: #888E93;
}

.burger__title {
  cursor: pointer;
}

.burger__nav a {
  text-decoration: none;
}

.burger__nav a {
  font-weight: bold;
  color: white;
  font-size: 20px;
  transition: all 0.4s ease;
}
.burger__nav a:hover {
  color: black;
}

.burger__body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: center;
}

.burger__nav {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 20px;
}

.burger__exit img {
  cursor: pointer;
  width: 30px;
}

@media (max-width: 1200px) {
  .burger__body {
    width: 100vw;
    padding: 0 10px;
  }
  .burger__nav {
    width: 100vw;
    padding: 0 10px;
  }
}
@media (max-width: 320px) {
  .burger {
    padding: 5px 0;
  }
  .burger__exit img {
    width: 20px;
  }
  .burger__title img {
    max-width: 70%;
  }
}
.header__burger {
  display: none;
  align-items: center;
}

.header__burger {
  cursor: pointer;
}

header {
  padding: 20px 0;
}

header {
  border-bottom: 2px solid white;
}

.header__body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title img {
  max-width: 100%;
}

.header__title img {
  cursor: pointer;
}

.header__nav a {
  margin: 0 20px;
}

.header__nav a {
  font-weight: bold;
  color: white;
  font-size: 16px;
  transition: all 0.4s ease;
  text-decoration: none;
}
.header__nav a:hover {
  color: black;
}

.header__burger img {
  width: 30px;
}

.header__title {
  display: flex;
  justify-content: left;
  vertical-align: center;
  align-items: center;
}

.header__social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__social img {
  max-width: 100%;
  margin: 0 5px;
}

.header__social img:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .header__body {
    width: 100vw;
    padding: 0 10px;
  }
  .header__nav {
    display: none;
  }
  .header__social {
    display: none;
  }
  .header__burger {
    display: flex;
  }
}
@media (max-width: 320px) {
  header {
    padding: 5px 0;
  }
  .header__burger img {
    width: 20px;
  }
  .header__title img {
    max-width: 70%;
  }
}
.first-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.first-screen__title {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.first-screen__text {
  word-wrap: break-word;
}

.first-screen__text {
  color: white;
  font-size: 2.5em;
}

.first-screen__video {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.video__text {
  margin-left: 30px;
}

.video__text {
  color: white;
}

.first-screen__cards {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
}

.cards__card {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards__card {
  cursor: pointer;
  background-color: #8D86C9;
  color: white;
  font-weight: 700;
  transition: all 0.4s ease;
}
.cards__card:hover {
  color: black;
}
.cards__card:hover {
  background-color: #716ba1;
}

.card__link img {
  max-width: 20px;
}

@media (max-width: 1200px) {
  .first-screen__title {
    width: 100vw;
    padding: 0 10px;
  }
  .first-screen__cards {
    width: 100vw;
    padding: 0 10px;
  }
  .first-screen__text {
    font-size: 2em;
  }
  .video__text {
    margin-left: 20px;
  }
  .first-screen__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (max-height: 550px) {
  .first-screen__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .first-screen__video {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 0;
  }
  .first-screen__text {
    font-size: 1.3em;
  }
}
@media (max-width: 460px) {
  .first-screen__text {
    font-size: 1.3em;
  }
  .video__text {
    font-size: 1em;
  }
  .video__img {
    width: 40px;
  }
  .video__text {
    margin-left: 10px;
  }
  .first-screen__cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .first-screen__video {
    margin-top: 10px;
  }
}