//--------------------------------------------------------------

// Стили структуры
.club {
    @include bodyWidth();
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//--------------------------------------------------------------

.club__block *::selection {
    background-color: #727272;
    color: black;
}

//--------------------------------------------------------------

// Стили структуры
.club__block {
    padding: 60px 60px 60px 120px;
    width: 60%;
}

// Стили оформления
.club__block {
    color: #333333;
    background-color: #F7ECE1;
}

//--------------------------------------------------------------

// Стили структуры
.club__image {
    position: relative;
    left: 70px;
}

//--------------------------------------------------------------

// Стили структуры
.club__image img {
    max-width: 100%;
}

//--------------------------------------------------------------

// Стили структуры
.club__title {
    font-size: 2.2em;
}

// Стили оформления
.club__title {
    font-weight: bold;
}

//--------------------------------------------------------------

// Стили структуры
.club__subtitle {
    margin-top: 20px;
}

// Стили оформления
.club__subtitle {
    font-weight: bold;
    font-size: 1.3em;
}

//--------------------------------------------------------------

// Стили оформления
.club__list ul {
    display: grid;
    row-gap: 10px;
}

//--------------------------------------------------------------

@media (max-width: 1200px) {
    .club {
        @include mobileWidth();
        flex-direction: column;
    }

    .club__block {
        width: 100%;
        padding: 80px 40px 40px 40px;
    }

    .club__image {
        display: flex;
        justify-content: center;
        width: 80%;
        left: 0;
        top: 60px;
    }
}

//--------------------------------------------------------------

@media (max-width: 660px) {
    .club__block {
        padding: 40px 10px 10px 10px;
    }

    .club__image {
        top: 30px;
    }

    .club__title {
        font-size: 1.5em;
    }
}

//--------------------------------------------------------------