//--------------------------------------------------------------

// Стили структуры
.first-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

//--------------------------------------------------------------

// Стили структуры
.first-screen__title {
    @include bodyWidth();
    display: flex;
    flex-direction: column;
}

//--------------------------------------------------------------

// Стили структуры
.first-screen__text {
    word-wrap: break-word;
}

// Стили оформления
.first-screen__text {
    color: white;
    font-size: 2.5em;
}

//--------------------------------------------------------------

// Стили структуры
.first-screen__video {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

//--------------------------------------------------------------

// Стили структуры
.video__text {
    margin-left: 30px;
}

// Стили оформления 
.video__text {
    color: white;
}

//--------------------------------------------------------------

// Стили структуры
.first-screen__cards {
    @include bodyWidth();
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

//--------------------------------------------------------------

// Стили структуры
.cards__card {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Стили оформления
.cards__card {
    cursor: pointer;
    background-color: #8D86C9;
    color: white;
    font-weight: 700;
    @include hoverColor(0.4s, black);

    &:hover {
        background-color: #716ba1;
    }
}

//--------------------------------------------------------------

// Стили структуры
.card__link img {
    max-width: 20px;
}

//--------------------------------------------------------------

@media (max-width: 1200px) {
    .first-screen__title {
        @include mobileWidth();
    }

    .first-screen__cards {
        @include mobileWidth();
    }

    .first-screen__text {
        font-size: 2em;
    }

    .video__text {
        margin-left: 20px;
    }

    .first-screen__cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

//--------------------------------------------------------------

@media (max-height: 550px) {
    .first-screen__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .first-screen__video {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        margin: 0;
    }

    .first-screen__text {
        font-size: 1.3em;
    }
}

//--------------------------------------------------------------

@media (max-width: 460px) {
    .first-screen__text {
        font-size: 1.3em;
    }

    .video__text {
        font-size: 1em;
    }

    .video__img {
        width: 40px;
    }

    .video__text {
        margin-left: 10px;
    }

    .first-screen__cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .first-screen__video {
        margin-top: 10px;
    }
}

//--------------------------------------------------------------