//---Gilroy---
@font-face {
    font-family: "gilroy";
    src: url("../fonts/gilroy/gilroy-medium.eot");
    src: url("../fonts/gilroy/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/gilroy-medium.woff") format("woff"), url("../fonts/gilroy/gilroy-medium.ttf") format("truetype"), url("../fonts/gilroy/gilroy-medium.svg#giroy") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "gilroy";
    src: url("../fonts/gilroy/gilroy-bold.eot");
    src: url("../fonts/gilroy/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/gilroy-bold.woff") format("woff"), url("../fonts/gilroy/gilroy-bold.ttf") format("truetype"), url("../fonts/gilroy/gilroy-bold.svg#giroy") format("svg");
    font-style: normal;
    font-weight: bold;
}