//--------------------------------------------------------------

// Стили оформления
.footer {
    background-color: #F7ECE1;
}

//--------------------------------------------------------------

// Стили структуры
.footer__body {
    @include bodyWidth();
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0;
}

//--------------------------------------------------------------

// Стили структуры
.footer__nav a {
    margin: 0 10px;
}

// Стили оформления
.footer__nav a {
    font-weight: bold;
    color: #333;
    font-size: 13px;
    text-decoration: none;
}

//--------------------------------------------------------------

// Стили структуры
.footer__social {
    display: flex;
    justify-content: center;
}

//--------------------------------------------------------------

// Стили структуры
.footer__social img {
    max-width: 100%;
    margin: 0 5px;
}

// Стили офолмления
.footer__social img {
    cursor: pointer;
}

//--------------------------------------------------------------

// Стили структуры
.footer__autor {
    text-align: center;
}

// Стили оформления
.footer__autor {
    font-size: 14px;
    color: #333333;
}

//--------------------------------------------------------------

@media (max-width: 1200px) {
    .footer__body {
        @include mobileWidth();
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 38px;
        padding-bottom: 38px;
    }

    .footer__social {
        order: 2;
        margin: 10px 0;
    }

    .footer__nav {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        order: 1;
    }

    .footer__autor {
        order: 3;
    }
}

//--------------------------------------------------------------

@media (max-width: 660px) {
    .footer__nav {
        grid-template-columns: repeat(2, 1fr);
    }
}

//--------------------------------------------------------------

@media (max-width: 320px) {
    .footer__nav {
        grid-template-columns: repeat(1, 1fr);
    }
}

//--------------------------------------------------------------