// Стили структуры
.header__burger {
    display: none;
    align-items: center;
}

// Стили оформления 
.header__burger {
    cursor: pointer;
}

//--------------------------------------------------------------

// Стили структуры
header {
    padding: 20px 0;
}

// Стили оформления
header {
    border-bottom: 2px solid white;
}

//--------------------------------------------------------------
// Стили структуры
.header__body {
    @include bodyWidth();
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//--------------------------------------------------------------

// Стили структуры
.header__title img {
    max-width: 100%;
}

// Стили оформления
.header__title img {
    cursor: pointer;
}

//--------------------------------------------------------------

// Стили структуры
.header__nav a {
    margin: 0 20px;
}

// Стили оформления
.header__nav a {
    font-weight: bold;
    color: white;
    font-size: 16px;
    @include hoverColor(0.4s, black);
    text-decoration: none;
}

//--------------------------------------------------------------

// Стили структуры
.header__burger img {
    width: 30px;
}

//--------------------------------------------------------------

// Стили структуры
.header__title {
    display: flex;
    justify-content: left;
    vertical-align: center;
    align-items: center;
}

//--------------------------------------------------------------

// Стили структуры
.header__social {
    display: flex;
    justify-content: center;
    align-items: center;
}

//--------------------------------------------------------------

// Стили структуры
.header__social img {
    max-width: 100%;
    margin: 0 5px;
}

// Стили оформления
.header__social img {
    &:hover {
        cursor: pointer;
    }
}

//--------------------------------------------------------------

@media (max-width: 1200px) {
    .header__body {
        @include mobileWidth();
    }

    .header__nav {
        display: none;
    }

    .header__social {
        display: none;
    }

    .header__burger {
        display: flex;
    }
}

//--------------------------------------------------------------

@media (max-width: 320px) {
    header {
        padding: 5px 0;
    }

    .header__burger img {
        width: 20px;
    }

    .header__title img {
        max-width: 70%;
    }
}

//--------------------------------------------------------------