//--------------------------------------------------------------


.last-screen {
    @include bodyWidth();
    display: flex;
    justify-content: space-between;
}

.last-screen__price {
    display: flex;
    flex-direction: column;
}

.price__title {
    font-weight: bold;
    font-size: 2.2em;
    margin-bottom: 50px;
}

.price__buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.price__button {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #8D86C9;
    padding: 15px 30px;
}

.price__button:last-child {
    margin-bottom: 0;
}

.price__button:first-child {
    margin-top: 0;
}

.last-screen__services {
    flex-grow: 1;
    margin-left: 130px;
}

.services__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.services__title {
    font-size: 2.2em;
    font-weight: bold;
}

.services__bottom {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.services__body {
    position: relative;
}

.services__img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services__img img {
    width: 100%;
}

.services__name {
    color: white;
    position: absolute;
    margin: 20px;
    font-size: 26px;
    left: 0;
    bottom: 0;
}


@media (max-width: 1200px) {
    .last-screen {
        @include mobileWidth();
        flex-direction: column;
    }
    .last-screen__services {
        margin: 0;
        margin-top: 100px;
    }

    .services__top {
        margin-bottom:  10px;
    }
    .price__title {
        margin-bottom: 10px;
    }
}

@media (max-width: 320px) {
    .services__name {
        font-size: 20px;
        margin: 10px;
    }

    .price__button {
        padding: 10px 20px;
        font-size: 14px;
    }
    .price__title {
        font-size: 26px;
    }
    .services__title {
        font-size: 26px;
    }
}