.main {
    width: 1200px;
    margin: 150px auto;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.title {
    font-size: 2.2rem;
    font-weight: bold;
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    &>img {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background: #8D86C9;
        cursor: pointer;
    }
}