.main {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: -100;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;

    .block {
        left: -300px;
    }
}

.burgerActive {
    z-index: 100;
    opacity: 1;

    .block {
        left: 0;
    }
}

.block {
    transition: all 0.1s;
    position: relative;
    padding: 10px;
    background-color: #ffffff;
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-bottom: 20px;
    &>img {
        cursor: pointer;
    }
}

.exitImg {
    width: 30px;
    height: 30px;
}

.blur {
    flex: 1 1 auto;
    backdrop-filter: blur(4px);
    cursor: pointer;
}

.links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &>a {
        color: black;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        transition: all 0.4s ease;

        &:hover {
            color: #818181;
        }
    }
}