
.burgerActive {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    opacity: 1;
}

.burgerNotActive {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: -100;
    left: 0;
    right: 0;
    opacity: 0;
}



.block {
    padding: 10px;
    background-color: #8a8a8a;
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    &>img {
        cursor: pointer;
    }
}

.exitImg {
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

.blur {
    flex: 1 1 auto;
    backdrop-filter: blur(4px);
    cursor: pointer;
}

.links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &>a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        transition: all 0.4s ease;

        &:hover {
            color: black;
        }
    }
}