.club {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block {
    padding: 60px 60px 60px 120px;
    width: 60%;
    transform: translate(0, 0);
    transition: all 1s ease;
    color: #333333;
    background-color: #F7ECE1;
}

.image {
    z-index: 3;
    transform: translate(0, 0);
    transition: all 1s ease;
    position: relative;
    left: 70px;
}

.title {
    font-size: 2.2em;
    font-weight: bold;
}

.subtitle {
    margin-top: 20px;
    font-size: 1.3em;
    font-weight: bold;
}