.header {
    width: 100%;
    background-color: yellow;
    padding: 20px 0;
}

.body {
    width: 1200px;
    margin: 0 auto;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    max-width: 100%;
}