.firstScreen {
    background: url(./images/bg.png) center top/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}